.streamlit/secrets.toml
.env
env.py
build/ 

*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
models/
checkpoints/
lwb_solarmyroof/data_samples/

**/__pycache__/
*.zip
.vscode

220622-lwb-solar-my-roof-cbf810927e81.json
le-wagon-bootcamp-347615_gcp_google_cloud.json
lwb-solar-my-roof-78f93e325dbc.json

