# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
scikit-image
tensorflow
tensorflow_addons
# OR
keras

# tf bits
# tensorflow-io but with no dependencies
# --no-deps tensorflow-io

# tests/linter
black
coverage
flake8
pytest
pytest-bdd
yapf

# web, demo etc
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

# web and bits
streamlit
streamlit_option_menu
googlemaps
Pillow # for PIL
opencv-python # for cv2
python-dotenv
