# API
# gcsfs
# google-cloud-storage
mlflow
s3fs


# some tf bits are not auto installed!
tensorflow_addons


# # utilities
six>=1.14
joblib
memoized-property
termcolor

# demo and web
streamlit
streamlit_option_menu
googlemaps
Pillow # for PIL
opencv-python # for cv2
